In [ ]:

import math
math.tan(90)

-1.995200412208242

In [ ]:
#Python program to illustrate 
# while loop 
n = 0
while (n < 3):     
    n = n + 1
    print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [ ]:
#Python program to illustrate 
# combining else with while 
n = 0
while (n < 3):     
    n = n + 1
    print("Hello Geek") 
else: 
    print("In Else Block")

Hello Geek
Hello Geek
Hello Geek
In Else Block

In [ ]:
sum=0

while(True):
  n=input("enter the value of n")
  if(n=='done'):
    break
  elif(int(n)<0):
    continue
  sum=sum+int(n)
print(sum)

enter the value of n7
enter the value of n8
enter the value of n-6
enter the value of n1
enter the value of ndone
16

In [ ]:
# Python Program to  
# show range() basics  
  
# printing a number  
for i in range(10):  
    print(i, end =" ")  
print()  
  
# using range for iteration  
l = [10, 20, 30, 40]  
for i in range(len(l)):  
    print(l[i], end =" ")  
print()  
  
# performing sum of natural  
# number  
sum = 0
for i in range(1, 10):  
    sum = sum + i  
print("Sum of first 10 natural number :", sum)

0 1 2 3 4 5 6 7 8 9
10 20 30 40
Sum of first 10 natural number : 45

In [ ]:
print("y values are:") 
for y in range(15):
  print(y,end=" ")
print("\nz values are")
for z in range(2,10):
  print(z,end=" ")
print("\nx values are")
for x in range(2, 15, 3):
  print(x,end=" ")

y values are:
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14
z values are
2 3 4 5 6 7 8 9
x values are
2 5 8 11 14

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
#illustrating Continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
# Python program to illustrate 
# Iterating over a list 
print("List Iteration") 
l = ["geeks", "for", "geeks"] 
for i in l: 
    print(i) 
       
# Iterating over a tuple (immutable) 
print("\nTuple Iteration") 
t = ("geeks", "for", "geeks") 
for i in t: 
    print(i) 
       
# Iterating over a String 
print("\nString Iteration")     
s = "Geeks"
for i in s : 
    print(i)

List Iteration
geeks
for
geeks

Tuple Iteration
geeks
for
geeks

String Iteration
G
e
e
k
s

In [ ]:

# Python program to illustrate 
# combining else with for 
  
list = ["geeks", "for", "geeks"] 
for index in range(len(list)): 
    print(list[index])
else: 
    print("Inside Else Block")

geeks
for
geeks
Inside Else Block

In [ ]:
# Python program to demonstrate 
# for-else loop 
  
for i in range(1, 4):  
    print(i)  
else: # Executed because no break in for  
    print("No Break\n")  
  
for i in range(1, 4):  
    print(i)  
    break
else: # Not executed as there is a break  
    print("No Break")

1
2
3
No Break

1

In [ ]:
#Nested Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
#Pass statement
for x in [0, 1, 2]:
  pass

In [ ]:
count = 0
for itervar in [3, 41, 12, 9, 74, 15]:
  count = count + 1
print('Count: ', count)

Count:  6

In [ ]:
total = 0
for itervar in [3, 41, 12, 9, 74, 15]:
  total = total + itervar
print('Total: ', total)

Total:  154

In [ ]:
#To find the largest value in a list or sequence, we construct the following loop:
largest = None
print('Before:', largest)
for itervar in [3, 41, 12, 9, 74, 15]:
  if largest is None or itervar > largest :
    largest = itervar
  print('Loop:', itervar, largest)
print('Largest:', largest)

Before: None
Loop: 3 3
Loop: 41 41
Loop: 12 41
Loop: 9 41
Loop: 74 74
Loop: 15 74
Largest: 74

In [ ]:
#To compute the smallest number, the code is very similar with one small change:
smallest = None
print('Before:', smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
  if smallest is None or itervar < smallest:
    smallest = itervar
  print('Loop:', itervar, smallest)
print('Smallest:', smallest)

Before: None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

In [ ]:
#illustration using functions
def smal(values):
  smallest = None
  for value in values:
    if smallest is None or value < smallest:
      smallest = value
  return smallest

In [ ]:
x=[3,41,12,9,74,15]
smal(x)

3

In [ ]:
t1=[1,5,3,7,32,78,89,54,2]
print("Minimum value in list is",min(t1))

Minimum value in list is 1

In [ ]:
#reverse of a number
n=int(input("Enter a number to reverse\n"));
  
r=0
while (n != 0):
  r = r * 10
  r = r + n%10
  n = n//10
print("reverse of given number is:",r)

Enter a number to reverse
123
reverse of given number is: 321